
@{
    
}
<form class="form-inline" method="post" action="/Login">
    <label for="email">E-Mail: </label>
    <input class="form-control" type="email" name="email" placeholder="Email-Adresse">
    <label for="password">Passwort:</label>
    <input class="form-control" type="password" name="password" placeholder="Passwort">
    <button class="btn btn-sm btn-secondary" type="submit">Login</button>
</form>