@{
}
<form method="post" action="/Register">
    <label for="fname">First name:</label><br>
    <input type="text" name="firstname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" name="lastname"><br><br>
    <label for="lname">Email:</label><br>
    <input type="text" name="email"><br><br>
    <label for="lname">Password:</label><br>
    <input type="text" name="password"><br><br>
    <input type="submit">
</form> 